<nav class="pure-menu pure-menu-horizontal">
  <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
  <ul class="pure-menu-list">    
    <li class="pure-menu-item">
      <a [routerLink]="[ '/home' ]" class="pure-menu-link" routerLinkActive="active">Home</a>
    </li>
    <li class="pure-menu-item">
      <a [routerLink]="[ '/module-a' ]" class="pure-menu-link" routerLinkActive="active">Module A</a>
    </li>  
    <li class="pure-menu-item">
      <a [routerLink]="[ '/module-b' ]" class="pure-menu-link" routerLinkActive="active">Module B</a>
    </li>
    <li class="pure-menu-item">
      <a [routerLink]="[ '/module-c' ]" class="pure-menu-link" routerLinkActive="active">Module C</a>
    </li>
    <li class="pure-menu-item">
      <a [routerLink]="[ '/module-d' ]" class="pure-menu-link" routerLinkActive="active">Module D</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>